<launch>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="map_frame" default="map"/>
  <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />
  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robotont_description)/xacro/main.urdf.xacro" />
    <!-- State publishers -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ></node>

      <!-- For using with Realsense D435 -->
  <rosparam>
   /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
  </rosparam>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" >
        <arg name="camera"	value="camera"/>
    </include>
    <include file="$(find robotont_teleop)/launch/cam_throttling.launch" />
    <node  name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" >
        <remap from="image" to="camera/depth/image_rect_raw"/>
        <remap from="camera_info" to="camera/depth/camera_info"/>
        <rosparam command="load" file="$(find robotont_teleop)/config/laser_params.yaml" />
        <param name="output_frame_id" value="camera_depth_frame"/>
    </node>
    
  <!-- Arguments -->
  <arg name="map_file" default="$(find simple_navigation_goals)/map/my_map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Turtlebot3 -->
  <!-- Map  -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom_transfer" args="0.0 0 0 3.14 0 0 map odom 100" />
  <!-- <node pkg="simple_navigation_goals" type="simple_navigation_goals" name="Test_Move" output="screen"/> -->

  <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->
  <!-- move_base -->
  <include file="$(find robotont_ws)/launch/temoto_move_base.launch">
  </include>

  <!-- rviz -->
  <!-- <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"/>
  </group> -->
</launch>
