<launch>
  <!-- <arg name="position" default="0.0" />   -->
  <node name="fingers_action_client.py" pkg="kinova_demo" type="fingers_action_client" output="screen" args="-m1n6s300 -percent -- -$(arg position) -$(arg position) -$(arg position)" /> 
	<param name="finger_value" value="$(arg position)" />
</launch>





Terminal:
rosrun kinova_demo fingers_action_client.py m1n6s300 percent -- 0 0 0 

finger_turn, finger_meter, finger_percent = unitParser(args.unit, args.finger_value, args.relative)

