<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5"> 
<xacro:arg name="prefix" default=""/>
  <xacro:arg name="ros_namespace" default="ur5"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>
  <xacro:include filename="$(find ur_description)/urdf/ur5_robot.urdf.xacro" />
    

</robot>
