<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robot_with_base" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />	

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <link name="base_table">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="2 1.5 0.3"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="world_joint_table" type="fixed">
    <parent link="base_table"/> 
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
  </joint>

</robot>


